# cmake build directory
build/
CMakeCache.txt
CMakeFiles/

# vscode and visual studio specific
.vscode/
.vs/

# org-mode temp files
./*.html
backups/

# the prebuilt libtcod files
external/libtcod-1.14.0-x86_64-msvc/
